**/.idea

**/node_modules
**/bower_components
**/.tmp
**/.dist
**/.sass-cache

**/.settings
**/.metadata
**/Servers
**/RemoteSystemsTempFiles

**/target/*

**/.DS_Store

# Eclipse files (?)
rest/.recommenders/
